@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Roboto:ital,wght@1,300&family=Rubik+Bubbles&display=swap');
:root{
    --main-bg-color: rgb(70, 17, 217);
     }
*{
    margin: 0;
    padding: 0;
}
header{
    height: 8vh;
    background: var(--main-bg-color);
    border: 1px solid red;
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    justify-content: flex-start;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 80px;
    padding: 0% 23px;
}
nav ul li{
    list-style: none;
    padding: 10% 23px;
}
nav ul li a{
    color: gold;
}
nav ul li a:hover{
    color:white;
    font-weight: bolder;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 500px;
    height: 20px;
    border-radius: 4px;
    margin: 0 15px 0 50px;
}
.card{
    max-width: 90vw;
    margin: 12px auto;
}
.card-item{
    width: 11vw;
    display:inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}
.card h2{
    margin: 20px 0;
}
.container{
    min-height:calc(100vh - 58px - 10vh);
}
.slider{
    margin: auto;
    width: 65vw;
    margin: 12px auto ;
}
footer{
    height: 8vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'lato',sans-serif;
}


