.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 3px 6px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid black;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bolder;
}
.btn:hover{
    color: yellow;
    font-weight: bolder;
}
.my-2{
    margin: 4px 0;
}
.text-center{
    text-align: center;
}
